$buttonColor: yellow;
$border: 1px solid black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.content {
  height: 80vh;
  width: 40vw;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -40%);
  display: flex;
  flex-direction: column;
  border: $border;
  border-radius: 15px;
  overflow: auto;
  .header {
    min-height: 30%;
    height: 30%;
    background: rgb(219, 100, 100);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: $border;
    border-radius: 15px;
    .input-field {
      width: 100%;
      display: flex;
      justify-content: space-around;
      .input {
        width: 85%;
        height: 50px;
        font-size: 20px;
        padding: 0 10px;
      }
      .add {
        width: 20%;
        background-color: $buttonColor;
        border: $border;
        font-size: 16px;
      }
    }
  }
  .list {
    font-size: 28px;
    text-align: left;
    padding: 10px;
  }
}

.item-container {
  display: flex;
  overflow: hidden;
  .items {
    max-height: 100%;
    overflow: hidden;
  }
  .item {
    border: $border;
    border-radius: 5px;
    width: 95%;
    list-style: none;
    font-size: 22px;
    padding: 0 10px;
    margin: 5px 0;
  }
  button {
    border-radius: 5px;
    font-size: 14px;
    background-color: $buttonColor;
    padding: 0 10px;
    margin: 5px 0;
  }
}

footer {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  .dbl {
    color: grey;
    font-size: 10px;
  }
}

@media screen and (max-width: 700px) {
  .content {
    height: 80vh;
    width: 80vw;
    min-width: 250px;
  }
  p {
    margin: 5px 0;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    width: 60vw;
  }
}
