* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.content {
  height: 80vh;
  width: 40vw;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  border-radius: 15px;
  overflow: auto;
  -webkit-box-shadow: 5px 5px 20px 2px rgba(83, 83, 83, 0.5);
          box-shadow: 5px 5px 20px 2px rgba(83, 83, 83, 0.5);
}

.content .header {
  min-height: 30%;
  height: 30%;
  background: #db6464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 15px;
}

.content .header .input-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content .header .input-field .input {
  width: 85%;
  height: 50px;
  font-size: 20px;
  padding: 0 10px;
}

.content .header .input-field .add {
  width: 20%;
  background-color: yellow;
  border: 1px solid black;
  font-size: 16px;
}

.content .list {
  font-size: 28px;
  text-align: left;
  padding: 10px;
}

.item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.item-container .items {
  max-height: 100%;
  overflow: hidden;
}

.item-container .item {
  border: 1px solid black;
  border-radius: 5px;
  width: 95%;
  list-style: none;
  font-size: 22px;
  padding: 0 10px;
  margin: 5px 0;
}

.item-container button {
  border-radius: 5px;
  font-size: 14px;
  background-color: yellow;
  padding: 0 10px;
  margin: 5px 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .dbl {
  color: grey;
  font-size: 10px;
}

@media screen and (max-width: 700px) {
  .content {
    height: 80vh;
    width: 80vw;
    min-width: 250px;
  }
  p {
    margin: 5px 0;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    width: 60vw;
  }
}
